<!-- <div class='calculator-keyboard'> -->
<button class='grid-item-operator' (click)="onPress('+')">+</button>
<button class='grid-item-operator' (click)="onPress('-')">-</button>
<button class='grid-item-operator' (click)="onPress('*')">*</button>
<button class='grid-item-operator' (click)="onPress('/')">/</button>
<button class='grid-item-number' (click)="onPress('7')">7</button>
<button class='grid-item-number' (click)="onPress('8')">8</button>
<button class='grid-item-number' (click)="onPress('9')">9</button>
<button class='grid-item-calc' (click)="onCalculate()">=</button>
<button class='grid-item-number' (click)="onPress('4')">4</button>
<button class='grid-item-number' (click)="onPress('5')">5</button>
<button class='grid-item-number' (click)="onPress('6')">6</button>
<button class='grid-item-number' (click)="onPress('1')">1</button>
<button class='grid-item-number' (click)="onPress('2')">2</button>
<button class='grid-item-number' (click)="onPress('3')">3</button>
<button class='grid-item-number' (click)="onPress('', true)">C</button>
<button class='grid-item-number' (click)="onPress('0')">0</button>
<button class='grid-item-number'>.</button>
<!-- </div> -->