#root {
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
}

:root {
  --raisin-black: #161925;
  --delf-blue: #23395b;
  --ucle-blue: #406e8e;
  --powder-blue: #8ea8c3;
  --mint-green: #cbf7ed;
}